{% extends "layout.twig" %}

{% block title %}Login
{% endblock %}

{% block body %}

<div class="column is-4"></div>
    <div class="column is-4">
    <div class="card">
         <div class="card-content">
        <p>
            Data anda saat ini: 
        </p>
        <p>
            Nama:
            <br><strong>{{ user.name }}</strong></br>
        </p>
        <p>
            Email:
            <br><strong>{{ user.email }}</strong></br>
        </p>
        <p>
            Tanggal Lahir :
            <br><strong>{{ user.birthdate }}</strong></br>
        </p>
        <p>
            Jenis Kelamin :
            <br><strong>{{ user.sex }}</strong></br>
        </p>
        <p>
            No. Handphone :
            <br><strong>{{ user.phone }}</strong></br>
        </p>

            </div>
        </div>
    </div>
</div>

<div class="columns">
        <div class="column is-4"></div>
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <h4 class="title is-4">Ubah Data</h4>
                    <hr>
                    {% for msg in errors %}
                        <div class="notification is-danger">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    <form action="" method="post">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Tanggal Lahir</label>
                            <div class="control">
                                <input class="input" type="text" name="birthdate">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Jenis Kelamin</label>
                            <div class="control">
                                <input class="input" type="text" name="sex">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">No. Handphone</label>
                            <div class="control">
                                <input class="input" type="text" name="phone">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" name="password">
                            </div>
                        </div>
                        
                        <input type="submit" class="button is-primary" value="Simpan Perubahan">
                    </form>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
